


body{
  font-family: Arial,sans-serif;
  color: #333333;
  line-height: 1.166;
 margin: 20px 20px 0 20px;
 padding: 0px;
}

div#body {
  margin: 0 auto;
  width: 1021px;
 

  
}
#Table_01 {
	position:absolute;

	width:1020px;
	height:1160px;
        margin: 0 auto;
        border: 2px solid #669999;
}

#newchalkboardsliced-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1020px;
	height:44px;
}

#newchalkboardsliced-02 {
	position:absolute;
	left:0px;
	top:44px;
	width:85px;
	height:1116px;
}

#graiders {
	position:absolute;
	left:85px;
	top:44px;
	width:277px;
	height:86px;
}

#newchalkboardsliced-04 {
	position:absolute;
	left:362px;
	top:44px;
	width:658px;
	height:67px;
}

#newchalkboardsliced-05 {
	position:absolute;
	left:362px;
	top:111px;
	width:274px;
	height:173px;
}

#abc {
	position:absolute;
	left:636px;
	top:111px;
	width:212px;
	height:69px;
}

#newchalkboardsliced-07 {
	position:absolute;
	left:848px;
	top:111px;
	width:172px;
	height:221px;
}

#newchalkboardsliced-08 {
	position:absolute;
	left:85px;
	top:130px;
	width:277px;
	height:154px;
}

#newchalkboardsliced-09 {
	position:absolute;
	left:636px;
	top:180px;
	width:212px;
	height:152px;
}

#todo {
	position:absolute;
	left:85px;
	top:284px;
	width:208px;
	height:48px;
}

#login {
	position:absolute;
	left:293px;
	top:284px;
	width:100px;
	height:31px;
}

#newchalkboardsliced-12 {
	position:absolute;
	left:393px;
	top:284px;
	width:243px;
	height:48px;
}

#newchalkboardsliced-13 {
	position:absolute;
	left:293px;
	top:315px;
	width:100px;
	height:17px;
}

#chalkboard {
	position:absolute;
	left:85px;
	top:332px;
	width:837px;
	height:424px;
}

#newchalkboardsliced-15 {
	position:absolute;
	left:922px;
	top:332px;
	width:98px;
	height:828px;
}

#newchalkboardsliced-16 {
	position:absolute;
	left:85px;
	top:756px;
	width:837px;
	height:108px;
}

#newchalkboardsliced-17 {
	position:absolute;
	left:85px;
	top:864px;
	width:258px;
	height:296px;
}

#pencils {
	position:absolute;
	left:343px;
	top:864px;
	width:71px;
	height:119px;
}

#newchalkboardsliced-19 {
	position:absolute;
	left:414px;
	top:864px;
	width:406px;
	height:23px;
}

#newchalkboardsliced-20 {
	position:absolute;
	left:820px;
	top:864px;
	width:102px;
	height:296px;
}

#newchalkboardsliced-21 {
	position:absolute;
	left:414px;
	top:887px;
	width:80px;
	height:75px;
}

#apple {
	position:absolute;
	left:494px;
	top:887px;
	width:63px;
	height:75px;
}

#newchalkboardsliced-23 {
	position:absolute;
	left:557px;
	top:887px;
	width:152px;
	height:273px;
}

#newchalkboardsliced-24 {
	position:absolute;
	left:709px;
	top:887px;
	width:111px;
	height:75px;
}

#newchalkboardsliced-25 {
	position:absolute;
	left:414px;
	top:962px;
	width:43px;
	height:198px;
}

#paperclips {
	position:absolute;
	left:457px;
	top:962px;
	width:69px;
	height:41px;
}

#apple027 {
	position:absolute;
	left:526px;
	top:962px;
	width:31px;
	height:1px;
}

#newchalkboardsliced-28 {
	position:absolute;
	left:709px;
	top:962px;
	width:111px;
	height:198px;
}

#newchalkboardsliced-29 {
	position:absolute;
	left:526px;
	top:963px;
	width:31px;
	height:197px;
}

#newchalkboardsliced-30 {
	position:absolute;
	left:343px;
	top:983px;
	width:71px;
	height:177px;
}

#newchalkboardsliced-31 {
	position:absolute;
	left:457px;
	top:1003px;
	width:69px;
	height:157px;
}


