/*-----------------------------------------------------------------------------------*/
/*  Basic styles.
/*-----------------------------------------------------------------------------------*/ 
body {
  background-color: #333;
  font-size: 11px;
  height: auto;
}



/*-----------------------------------------------------------------------------------*/
/*  Header.
/*-----------------------------------------------------------------------------------*/
header.container_12{
    margin-top:10px;
    margin-bottom: -10px; 
}

#abc img{
  
    margin-top: 120px;
  margin-right: 10px;
  float: right;
  
}


/*-----------------------------------------------------------------------------------*/
/*  Content.
/*-----------------------------------------------------------------------------------*/
article.container_12{
  background-image: url(../img/chalkboard.png);
  height: 653px;
  width: 960px;
}


/*-----------------------------------------------------------------------------------*/
/*  Footer.
/*-----------------------------------------------------------------------------------*/
footer.container_12 img{
  margin-top:50px;
  float: right;
}


#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
